 <h2>Store</h2>
      <div class="row g-2">
      <% for (let sto of store) { %> 

        <div class="col-md-6 col-sm-12 col-lg-4">
          <div class="card p-1">
          <h5 class="card-title">
            <%= sto.store_id %></h5>
          <div class="card-text">
            <div><%= sto.store_location %></div>
            <div><%= sto.employee_number %> Employee</div>
            <div>Num of Invoices: <%= sto.purchase_id.length %></div>

            <div>Products: </div>
            
            <% if (sto.product && sto.product.length) { %>
              <% for (let pro of sto.product) { %>
                <div style="margin-left:25px"><%= pro.name %> (<%= pro.category %>)</div>

              <% } %>
            <% } %>


            <div>
              <a class="btn btn-outline-primary" href="<%= '/store/' + sto._id + '/edit' %>">Edit</a>
              <a class="btn btn-outline-danger" href="<%= '/store/' + sto._id + '/delete' %>">Delete</a>
            </div>
            </div>  
          </div>
        </div>

        <% } %>
        <%- include("./pagination.ejs", {currentPage, lastPage }) %>
      </div>